In [1]:
from math import floor
import numpy as np
import pandas as pd

In [2]:
cols = ['arch',
        'F1_NONE', 'F1_F1', 'F1_F2', 'F1_F3', 'F1_F4',
        'F2_NONE', 'F2_F1', 'F2_F2', 'F2_F3', 'F2_F4',
        'F3_NONE', 'F3_F1', 'F3_F2', 'F3_F3', 'F3_F4',
        'F4_NONE', 'F4_F1', 'F4_F2', 'F4_F3', 'F4_F4',
        'N1_NONE', 'N1_F1', 'N1_F2', 'N1_F3', 'N1_F4',
        'N2_NONE', 'N2_F1', 'N2_F2', 'N2_F3', 'N2_F4',

        'RET_F1_NONE', 'RET_F1_F1', 'RET_F1_F2', 'RET_F1_F3', 'RET_F1_F4',
        'RET_F2_NONE', 'RET_F2_F1', 'RET_F2_F2', 'RET_F2_F3', 'RET_F2_F4',
        'RET_F3_NONE', 'RET_F3_F1', 'RET_F3_F2', 'RET_F3_F3', 'RET_F3_F4',
        'RET_F4_NONE', 'RET_F4_F1', 'RET_F4_F2', 'RET_F4_F3', 'RET_F4_F4',
        'RET_N1_NONE', 'RET_N1_F1', 'RET_N1_F2', 'RET_N1_F3', 'RET_N1_F4',
        'RET_N2_NONE', 'RET_N2_F1', 'RET_N2_F2', 'RET_N2_F3', 'RET_N2_F4',

        'RET2_F1_NONE', 'RET2_F1_F1', 'RET2_F1_F2', 'RET2_F1_F3', 'RET2_F1_F4',
        'RET2_F2_NONE', 'RET2_F2_F1', 'RET2_F2_F2', 'RET2_F2_F3', 'RET2_F2_F4',
        'RET2_F3_NONE', 'RET2_F3_F1', 'RET2_F3_F2', 'RET2_F3_F3', 'RET2_F3_F4',
        'RET2_F4_NONE', 'RET2_F4_F1', 'RET2_F4_F2', 'RET2_F4_F3', 'RET2_F4_F4',
        'RET2_N1_NONE', 'RET2_N1_F1', 'RET2_N1_F2', 'RET2_N1_F3', 'RET2_N1_F4',
        'RET2_N2_NONE', 'RET2_N2_F1', 'RET2_N2_F2', 'RET2_N2_F3', 'RET2_N2_F4']

columns = {x:k for k,x in enumerate(cols)}

numbered_columns = cols[1:]

In [3]:
'''
NOTE THAT THE "NORMAL 2" PATTERN COULD BE OUT OF PATTERN. REQUIRED 2 LINES as 2x2 array. IF THIS HAPPENED, MUST BE MANUALLY CONVERTED TO THE REQUIRED PATTERN AS BELOW!

REQUIRED
[[1. 0.]
 [0. 0.]]

OUT OF PATTERN
[[1.]]
'''

with open('./outputs/output_adaptive_random_forest_skflow_NOVO_dr_3-ts_0.8-lf_1-limit_500-wl_10.txt') as f:
    lines = f.readlines()

height = 91
times = floor(len(lines)/height)

output = pd.DataFrame(np.zeros((times, len(columns))), columns=columns)

for k, column_name in enumerate(columns):
    column_init_position = columns[column_name]

    for time in np.arange(0, times):
        line_number = column_init_position+(time*height)
        value = lines[line_number].rstrip("\n")

        if (column_name in numbered_columns):
            value = float(value)

        output.iloc[time,k] = value

f.close()

In [10]:
q1 = output.query('F1_F1 > 60 and F2_F2 > 60 and F3_NONE > 60 and F4_NONE > 60 and RET_F1_F1 > 60 and RET_F2_F2 > 60 and RET_F3_F3 > 60 and RET_F4_NONE > 50 and RET2_F1_F1 > 50 and RET2_F2_F2 > 50 and RET2_F3_F3 > 50 and RET2_F4_F4 > 50 ')
q1.shape

(2, 91)

In [11]:
pd.set_option('display.max_column', None,'display.max_rows', None)
q1.T.T

,arch,F1_NONE,F1_F1,F1_F2,F1_F3,F1_F4,F2_NONE,F2_F1,F2_F2,F2_F3,F2_F4,F3_NONE,F3_F1,F3_F2,F3_F3,F3_F4,F4_NONE,F4_F1,F4_F2,F4_F3,F4_F4,N1_NONE,N1_F1,N1_F2,N1_F3,N1_F4,N2_NONE,N2_F1,N2_F2,N2_F3,N2_F4,RET_F1_NONE,RET_F1_F1,RET_F1_F2,RET_F1_F3,RET_F1_F4,RET_F2_NONE,RET_F2_F1,RET_F2_F2,RET_F2_F3,RET_F2_F4,RET_F3_NONE,RET_F3_F1,RET_F3_F2,RET_F3_F3,RET_F3_F4,RET_F4_NONE,RET_F4_F1,RET_F4_F2,RET_F4_F3,RET_F4_F4,RET_N1_NONE,RET_N1_F1,RET_N1_F2,RET_N1_F3,RET_N1_F4,RET_N2_NONE,RET_N2_F1,RET_N2_F2,RET_N2_F3,RET_N2_F4,RET2_F1_NONE,RET2_F1_F1,RET2_F1_F2,RET2_F1_F3,RET2_F1_F4,RET2_F2_NONE,RET2_F2_F1,RET2_F2_F2,RET2_F2_F3,RET2_F2_F4,RET2_F3_NONE,RET2_F3_F1,RET2_F3_F2,RET2_F3_F3,RET2_F3_F4,RET2_F4_NONE,RET2_F4_F1,RET2_F4_F2,RET2_F4_F3,RET2_F4_F4,RET2_N1_NONE,RET2_N1_F1,RET2_N1_F2,RET2_N1_F3,RET2_N1_F4,RET2_N2_NONE,RET2_N2_F1,RET2_N2_F2,RET2_N2_F3,RET2_N2_F4
147,SAMKNN 10000 2 2 5 distance maxACC 10000 800 1000,14.5,85.5,0.0,0.0,0.0,13.0,0.0,87.0,0.0,0.0,74.625,25.375,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,21.375,78.625,0.0,0.0,0.0,19.375,80.625,0.0,0.0,0.0,12.5,87.5,0.0,0.0,0.0,12.0,0.0,88.0,0.0,0.0,31.625,8.0,0.0,60.375,0.0,100.0,0.0,0.0,0.0,0.0,17.375,82.625,0.0,0.0,0.0,14.625,85.375,0.0,0.0,0.0,13.875,86.125,0.0,0.0,0.0,13.25,0.0,86.75,0.0,0.0,15.25,0.875,0.0,83.875,0.0,18.0,0.0,0.0,0.25,81.75,17.75,82.25,0.0,0.0,0.0,15.0,85.0,0.0,0.0,0.0
171,SAMKNN 10000 2 2 5 uniform maxACC 10000 800 1000,12.875,87.125,0.0,0.0,0.0,11.625,0.0,88.375,0.0,0.0,73.25,26.75,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,15.625,84.375,0.0,0.0,0.0,14.0,86.0,0.0,0.0,0.0,12.0,88.0,0.0,0.0,0.0,11.125,0.0,88.875,0.0,0.0,21.625,16.75,0.0,61.625,0.0,100.0,0.0,0.0,0.0,0.0,16.0,84.0,0.0,0.0,0.0,15.0,85.0,0.0,0.0,0.0,15.25,84.75,0.0,0.0,0.0,12.5,0.0,87.5,0.0,0.0,18.5,8.625,0.0,72.875,0.0,22.5,0.0,0.0,3.0,74.5,19.375,80.625,0.0,0.0,0.0,17.5,82.5,0.0,0.0,0.0