In [1]:
from math import floor
import numpy as np
import pandas as pd

In [8]:
cols = ['arch','silhouette', 'homogeneity', 'time']

columns = {x:k for k,x in enumerate(cols)}

percentual_columns = cols[2]
numbered_columns = cols[1:3]

In [9]:
'''
NOTE THAT THE "NORMAL 2" PATTERN COULD BE OUT OF PATTERN. REQUIRED 2 LINES as 2x2 array. IF THIS HAPPENED, MUST BE MANUALLY CONVERTED TO THE REQUIRED PATTERN AS BELOW!

REQUIRED
[[1. 0.]
 [0. 0.]]

OUT OF PATTERN
[[1.]]
'''

with open('./outputs/output_kmeans_concatenate.txt') as f:
    lines = f.readlines()

height = 4
times = floor(len(lines)/height)

output = pd.DataFrame(np.zeros((times, len(columns))), columns=columns)

for k, column_name in enumerate(columns):
    column_init_position = columns[column_name]

    for time in np.arange(0, times):
        line_number = column_init_position+(time*height)
        value = lines[line_number].rstrip("\n")

        if (column_name in percentual_columns):
            value = float(value)*100

        if (column_name in numbered_columns):
            value = float(value)

        output.iloc[time,k] = value

f.close()

In [44]:
q =     'F1_F1 > 60 and ' \
        'F2_F2 > 60 and ' \
        'F3_NONE > 60 and ' \
        'F4_NONE > 60 and ' \
        'N1_NONE > 30 and ' \
        'N2_NONE > 30 and ' \
        \
        'RET_F1_F1 > 60 and ' \
        'RET_F2_F2 > 60 and ' \
        'RET_F3_F3 > 60 and ' \
        'RET_F4_NONE > 60 and ' \
        'RET_N1_NONE > 30 and ' \
        'RET_N2_NONE > 30 and ' \
        \
        'RET2_F1_F1 > 60 and ' \
        'RET2_F2_F2 > 60 and ' \
        'RET2_F3_F3 > 60 and ' \
        'RET2_F4_F4 > 60  and ' \
        'RET2_N1_NONE > 30 and ' \
        'RET2_N2_NONE > 30 '

q1 = output.query(q)
q1.shape

(0, 91)

In [38]:
pd.set_option('display.max_column', None,'display.max_rows', None)
q1.T.T

,arch,F1_NONE,F1_F1,F1_F2,F1_F3,F1_F4,F2_NONE,F2_F1,F2_F2,F2_F3,F2_F4,F3_NONE,F3_F1,F3_F2,F3_F3,F3_F4,F4_NONE,F4_F1,F4_F2,F4_F3,F4_F4,N1_NONE,N1_F1,N1_F2,N1_F3,N1_F4,N2_NONE,N2_F1,N2_F2,N2_F3,N2_F4,RET_F1_NONE,RET_F1_F1,RET_F1_F2,RET_F1_F3,RET_F1_F4,RET_F2_NONE,RET_F2_F1,RET_F2_F2,RET_F2_F3,RET_F2_F4,RET_F3_NONE,RET_F3_F1,RET_F3_F2,RET_F3_F3,RET_F3_F4,RET_F4_NONE,RET_F4_F1,RET_F4_F2,RET_F4_F3,RET_F4_F4,RET_N1_NONE,RET_N1_F1,RET_N1_F2,RET_N1_F3,RET_N1_F4,RET_N2_NONE,RET_N2_F1,RET_N2_F2,RET_N2_F3,RET_N2_F4,RET2_F1_NONE,RET2_F1_F1,RET2_F1_F2,RET2_F1_F3,RET2_F1_F4,RET2_F2_NONE,RET2_F2_F1,RET2_F2_F2,RET2_F2_F3,RET2_F2_F4,RET2_F3_NONE,RET2_F3_F1,RET2_F3_F2,RET2_F3_F3,RET2_F3_F4,RET2_F4_NONE,RET2_F4_F1,RET2_F4_F2,RET2_F4_F3,RET2_F4_F4,RET2_N1_NONE,RET2_N1_F1,RET2_N1_F2,RET2_N1_F3,RET2_N1_F4,RET2_N2_NONE,RET2_N2_F1,RET2_N2_F2,RET2_N2_F3,RET2_N2_F4
4756,HT 4039 100 info_gain 0.1 False False nb 0 [0....,0.1,98.9,0.6,0.1,0.1,0.5,0.0,99.5,0.0,0.0,99.9,0.0,0.1,0.0,0.0,72.6,26.9,0.5,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,1.1,97.1,0.6,0.9,0.1,0.0,0.0,100.0,0.0,0.0,0.9,0.0,0.1,99.0,0.0,94.2,0.0,0.5,5.3,0.0,74.2,0.0,0.0,25.8,0.0,77.1,0.0,0.0,22.9,0.0,0.1,98.9,0.6,0.1,0.1,0.5,0.0,99.5,0.0,0.0,1.2,0.0,0.1,98.7,0.0,0.1,0.0,0.5,3.1,96.3,87.5,0.0,0.0,12.5,0.0,84.7,0.0,0.0,15.3,0.0
5140,HT 4423 100 info_gain 0.1 True False nba 0 [0....,0.1,98.9,0.6,0.1,0.1,0.5,0.0,99.5,0.0,0.0,99.9,0.0,0.1,0.0,0.0,72.6,26.9,0.5,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,3.6,94.1,0.6,1.4,0.1,1.1,0.0,98.9,0.0,0.0,3.9,0.1,0.1,95.9,0.0,85.2,0.0,0.5,14.3,0.0,91.2,0.0,0.0,8.8,0.0,90.1,0.0,0.0,9.9,0.0,0.2,98.3,0.6,0.6,0.1,0.6,0.0,98.9,0.5,0.0,0.5,0.0,0.1,99.4,0.0,0.4,0.0,0.5,0.1,99.0,82.4,0.0,0.0,17.6,0.0,81.5,0.0,0.0,18.5,0.0